* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #e6f7ff;
    color: #12343b;
}

/* Navigation */
nav {
    background: #087f8c;
    color: white;
    padding: 25px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

ul li a:hover {
    color: #b9f2ff;
}

/* Landing Page */
.hero {
    text-align: center;
    padding-top: 240px;
    height: 600px;
}

.hero h2 {
    font-size: 32px;
    color: #087f8c;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    margin-bottom: 30px;
}

button {
    background: #087f8c;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #05636d;
}
